nav {
  background: rgb(249, 249, 249);
  border-bottom: 2px solid rgb(203, 203, 203);
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

nav li:hover > a {
  color: rgb(153, 153, 214);
  transform: translateY(-2px);
}

nav li > a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  transition: transform .2s;
  padding: .75rem;
}
