.bubble table {
  border: 1px solid #00000045;
}

.bubble thead {
  background-color: #c2c2c2;
}

.bubble tr:nth-child(2n) {
  background-color: #dcdcdc;
}

.bubble th, .bubble td {
  text-align: left;
  vertical-align: top;
}

.bubble th:first-child, .bubble td:first-child {
  width: 300px;
  max-width: 30vw;
}